<!DOCTYPE html>
<html>
<head>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<link href="~/Content/fontawesome5.10/css/all.css" rel="stylesheet" />

	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Content/fontawesome5.10/js/all.js"></script>
</head>
<body>
 
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

   
</body>
</html>