@using TrendOl.WebApp.ViewModels
@using TrendOl.Entities.Messages
@model ErrorViewModel

@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="card border-danger">
			<article class="card-body">
				<h4 class="card-title text-center mb-4 mt-1 text-info">
					@Model.Header
				</h4>
				<hr class="bg-danger">
				<p class="text-danger text-center" style="font-size:40px">
					<i class="fas fa-exclamation-triangle" style="font-size:30px;"></i>
					@Model.Title
				</p>
				<div class="form-group">
					<div class="input-group">
						<p class="justify-content-center">
							@foreach (ErrorMessageObj msg in Model.Items)
							{
								@msg.Message<br />

							}
						</p>
					</div> <!-- input-group.// -->
				</div>
			</article>
		</div>
	</div>
</div>

@{
	string js = string.Empty;

	if (Model.IsRedirecting)
	{
		js = "setTimeout(function () {window.location = '" + Model.RedirectingUrl + "'; }, " + Model.RedirectingTimeout + ");";
	}
}

<script>
	$(function () {

		@Html.Raw(js);

	});
</script>

