@{
	ViewBag.Title = "Index2";
}

	<nav class="navbar sticky-top navbar-light bg-light">
		<a class="navbar-brand" href="#">Sticky top</a>
	</nav>


		@*<div id="gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top" src="~/Content/product.jpg" />
							<div class="card-body">
								<h6 class="card-title">Zara</h6>
								<p class="card-text">
									Amet justo nunc tempor,
								</p>
								<a class="btn btn-outline-success btn-sm " href="#">Download</a>
								<a class="btn btn-outline-success btn-sm " href="#">
									<i class="far fa-address-book"></i>
								</a>

							</div>
						</div>


					</div>



				</div>

			</div>
		</div>*@







		


	<div class="row">

		<div class="col-lg-4">
			<div class="d-flex flex-column justify-content-between " style="height:auto;width:275px;">

				<img class="" style="width:273px; height:400px;" src="~/Content/product.jpg" alt="Alternate Text" />
				<div class=" d-flex justify-content-between">

					<h6>Pull & Bear</h6>


					<span style="font-size: 0.8rem;">
						<span style="color: #ff6a00;">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
						</span>
					</span>




				</div>

				<p class="m-0" style="font-size:10px;">
					Adipiscing elit fusce vel sapien elit.
				</p>

				<p class="m-0">
					<b>$45.99</b>
				</p>

			</div>

		</div>

		<div class="col-lg-4">
			<div class="d-flex flex-column justify-content-between " style="height:auto;width:275px;">

				<img class="" style="width:273px; height:400px;" src="~/Content/product.jpg" alt="Alternate Text" />
				<div class=" d-flex justify-content-between">

					<h6>Pull & Bear</h6>


					<span style="font-size: 0.8rem;">
						<span style="color: #ff6a00;">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
						</span>
					</span>




				</div>

				<p class="m-0" style="font-size:10px;">
					Adipiscing elit fusce vel sapien elit.
				</p>

				<p class="m-0">
					<b>$45.99</b>
				</p>

			</div>

		</div>

		<div class="col-lg-4">
			<div class="d-flex flex-column justify-content-between " style="height:auto;width:275px;">

				<img class="" style="width:273px; height:400px;" src="~/Content/product.jpg" alt="Alternate Text" />
				<div class=" d-flex justify-content-between">

					<h6>Pull & Bear</h6>

					<span style="font-size: 0.8rem;">
						<span style="color: #ff6a00;">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
						</span>
					</span>

				</div>

				<p class="m-0" style="font-size:10px;">
					Adipiscing elit fusce vel sapien elit.
				</p>

				<p class="m-0">
					<b>$45.99</b>
				</p>

			</div>

		</div>

	</div>

	<div class="row">

		<div class="col-lg-4">
			<div class="d-flex flex-column justify-content-between " style="height:auto;width:275px;">

				<img class="" style="width:273px; height:400px;" src="~/Content/product.jpg" alt="Alternate Text" />
				<div class=" d-flex justify-content-between">

					<h6>Pull & Bear</h6>


					<span style="font-size: 0.8rem;">
						<span style="color: #ff6a00;">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
						</span>
					</span>




				</div>

				<p class="m-0" style="font-size:10px;">
					Adipiscing elit fusce vel sapien elit.
				</p>

				<p class="m-0">
					<b>$45.99</b>
				</p>

			</div>

		</div>

		<div class="col-lg-4">
			<div class="d-flex flex-column justify-content-between " style="height:auto;width:275px;">

				<img class="" style="width:273px; height:400px;" src="~/Content/product.jpg" alt="Alternate Text" />
				<div class=" d-flex justify-content-between">

					<h6>Pull & Bear</h6>


					<span style="font-size: 0.8rem;">
						<span style="color: #ff6a00;">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
						</span>
					</span>




				</div>

				<p class="m-0" style="font-size:10px;">
					Adipiscing elit fusce vel sapien elit.
				</p>

				<p class="m-0">
					<b>$45.99</b>
				</p>

			</div>

		</div>

		<div class="col-lg-4">
			<div class="d-flex flex-column justify-content-between " style="height:auto;width:275px;">

				<img class="" style="width:273px; height:400px;" src="~/Content/product.jpg" alt="Alternate Text" />
				<div class=" d-flex justify-content-between">

					<h6>Pull & Bear</h6>

					<span style="font-size: 0.8rem;">
						<span style="color: #ff6a00;">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
						</span>
					</span>

				</div>

				<p class="m-0" style="font-size:10px;">
					Adipiscing elit fusce vel sapien elit.
				</p>

				<p class="m-0">
					<b>$45.99</b>
				</p>

			</div>

		</div>

	</div>



