@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
	.jumbotron {
		margin-bottom: 0px;
	}

	.jumbotronImage {
		/*background-image: url('../../Content/images/jumbo.jpg');*/
		background-image: url('../../images/fluid-jumbo.jpg');
		background-size: cover;
		color: #000000;
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
	}

	.card {
		background-color: #ffffff;
		border: none;
	}

	#cardRow {
		background-color: #ffffff;
	}
</style>


<div class="jumbotron jumbotron-fluid jumbotronImage">
	<div class="container">
		<h1 class="display-4">TrendOl 2019 Creation</h1>
		<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
	</div>


</div>
<hr />
<div class="container">
	<div class="row">
		<div>
			<h3 class="text-success">%50 Discount Opportunities</h3>
			<hr />
			<p class="text-body">
				Aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin.
			</p>
			<h3 class="text-right text-primary">
				Catch-Up Latest Trends
			</h3>
			<hr />
			<p class="text-body">
				Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
			</p>
		</div>
	</div>

</div>
