
@{
	ViewBag.Title = "RegisterOk";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="card border-success">
			<article class="card-body">
				<h4 class="card-title text-center mb-4 mt-1 text-info">You are redirecting in 5 seconds...</h4>
				<hr class="bg-success">
				<p class="text-success text-center">
					<i class="fas fa-check-circle" style="color:green; font-size:30px;"></i>
					Registiration is completed successfully
				</p>
				<div class="form-group">
					<div class="input-group">
						<p class="justify-content-center">
							Please go to your e-mail address and activate your account by clicking the activation link.
						</p>
					</div> <!-- input-group.// -->
				</div>
			</article>
		</div>
	</div>
</div>

<script>
	$(function () {
		setTimeout(function () {
			window.location = "/Home/Index";
		}, 5000);
	});
</script>

