
@{
	ViewBag.Title = "UserActivateOk";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="card border-success">
			<article class="card-body">
				<h4 class="card-title text-center mb-4 mt-1 text-info">You are redirecting in 5 seconds...</h4>
				<hr class="bg-success">
				<p class="text-success text-center">
					<i class="fas fa-check-circle" style="color:green; font-size:30px;"></i>
					Account is activated
				</p>
				<div class="form-group">
					<div class="input-group">
						<p class="justify-content-center">
							Welcome to TrendOl family. We wish you have great enjoy during the shopping!
						</p>
					</div> <!-- input-group.// -->
				</div>
			</article>
		</div>
	</div>
</div>

<script>
	$(function () {
		setTimeout(function () {
			window.location = "/Home/Index";
		}, 5000);
	});
</script>
