.section-title {
	font-family: 'Poppins', sans-serif;
}
.left-menu-header {
	padding-left: 1em;
	cursor: pointer;
}

	.left-menu-header > a {
		font-family: 'Merriweather', serif;
	}

		.left-menu-header > a:hover {
			font-size: larger;
		}

.left-menu-list > ul {
	font-family: 'Red Hat Display', sans-serif;
	list-style: none;
	padding-left: 1.3em;
}
	.left-menu-list > ul > li>a {
		color: dimgray;
	}
		.left-menu-list > ul > li >a:hover {
			color: #78e08f;
			cursor: pointer;
		}

