@using TrendOl.BusinessLayer
@using TrendOl.Entities
@model List<Product>
@{
	ViewBag.Title = "Shopping";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="~/Scripts/customJS.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
	<link href="~/Content/shoppingItem.css" rel="stylesheet" />
</head>

<div class="row d-flex justify-content-lg-start">
	<div class="col-lg-2 mt-1" style="height:100%;">

		@Html.Partial("_PartialCategories")
	</div>



	<div class="row col-lg-10 d-flex justify-content-lg-start mt-1">
		@foreach (Product itemProduct in Model)
		{
			<div class="col-md-3 col-sm-6">
				<div class="product-grid3">
					<div class="product-image3">
						<a href="/Shopping/ProductDetail/@itemProduct.Id">
							<img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-1.jpg">
							<img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg">
						</a>
						<ul class="social">
							<li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
						<span class="product-new-label">New</span>
					</div>
					<div class="product-content">
						<h3 class="title"><a href="/Shopping/ProductDetail/@itemProduct.Id">@itemProduct.ProductName</a></h3>
						<div class="price">
							$@itemProduct.Price
							<span>$@itemProduct.Price</span>
						</div>
						<ul class="rating">
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star"></li>
							<li class="fa fa-star disable"></li>
							<li class="fa fa-star"></li>

							@*<li class="fa fa-star disable"></li>
							<li class="fa fa-star disable"></li>*@
						</ul>
					</div>
				</div>
			</div>

		}

	</div>


	